.container {
    display: flex;
    flex-direction: column;
    border: solid thin black;
    margin: 3vw;
    padding: 5px;
}
.title {
    text-align: left;
    border-bottom: solid thin black;
    align-items: center;
}
.list-item {
    margin: 1rem;
    list-style: circle;
}
a {
    color: black;
    text-decoration: none;
}
#upcoming {
    border: solid thin black;
    padding: auto;
    text-align: center;
    background-color: rgb(160, 198, 211);
}